doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body.p-3
    block content
    a.class#ID(href='/michael')
        |Michael
    br
    a.class#ID(href='/renee')
        |Renee
        br
    a.class#ID(href='/david')
        |David
        br
    a.class#ID(href='/lucie')
        |Lucie